/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar on entire page */
html {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
body {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
